# Tests
tests
.pytest_cache
.coverage
htmlcov
test.db

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info

# Environment
.env
.env.*

# IDE
.vscode
.idea

# Docker
Dockerfile

# Documentation
*.md
